#### Contents of the preconfiguration file (for jessie)

### Localization
# Preseeding only locale sets language, country and locale.
d-i debian-installer/locale string pt_BR.UTF-8

# Keyboard selection.
d-i keyboard-configuration/xkb-keymap		select br
d-i keyboard-configuration/variant		select Portuguese (Brazil)
d-i keyboard-configuration/switch		select No temporary switch

### Network configuration
d-i netcfg/choose_interface 			select auto
d-i netcfg/dhcp_timeout 			string 60
d-i netcfg/dhcpv6_timeout 			string 60

d-i netcfg/get_hostname 			string debian
d-i netcfg/get_domain 				string labsol
d-i hw-detect/load_firmware 			boolean true

### Mirror settings
d-i mirror/country 				string manual
d-i mirror/http/hostname 			string ftp.br.debian.org
d-i mirror/http/directory 			string /debian
d-i mirror/http/proxy 				string

### Account setup
d-i passwd/root-login 				boolean false
d-i passwd/user-fullname 			string celtab
d-i passwd/username 				string celtab
d-i passwd/user-password 			password celtab
d-i passwd/user-password-again 			password celtab

### Clock and time zone setup
d-i clock-setup/utc				boolean true
d-i clock-setup/ntp				boolean true
d-i clock-setup/ntp-server			string 0.pool.ntp.org
d-i time/zone					string America/Sao_Paulo

### Partitioning
d-i partman-lvm/device_remove_lvm 		boolean true
d-i partman-md/confirm 				boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition 			select finish
d-i partman/confirm 				boolean true
d-i partman/confirm_nooverwrite 		boolean true

d-i partman-auto/method				string regular
d-i partman-auto/choose_recipe			select atomic

### Apt setup
d-i apt-setup/non-free 				boolean true
d-i apt-setup/contrib 				boolean true
#d-i apt-setup/services-select 			multiselect security, updates
#d-i apt-setup/security_host 			string ftp.br.debian.org/debian-security

### Package selection

tasksel tasksel/first 				multiselect minimal

#d-i pkgsel/upgrade 				select none
#d-i pkgsel/include 				string vim

d-i finish-install/reboot_in_progress note

popularity-contest popularity-contest/participate boolean false

### Boot loader installation

d-i grub-installer/skip boolean false
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default

#d-i preseed/late_command string in-target tasksel install gnome-desktop --new-install
